* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

nav {
  background-color: rgba(22, 22, 23, 0.8);
  width: 100%;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 3;
}
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul li {
  text-decoration: none;
  list-style: none;
  display: inline-block;
  margin: 17px;
  font-size: 12px;
}
ul li a {
  color: rgb(255 255 255 / 80%);
  text-decoration: none;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.nav-right {
  width: 20%;
  height: 44px;
}
.nav-left {
  width: 13%;
  height: 44px;
  display: flex;
  justify-content: end;
}
.nav-center {
  width: 70%;
  height: 44px;
}
.fa-solid {
  color: rgb(255 255 255 / 80%);
  text-decoration: none;
  margin-left: 30px;
  font-size: 12px;
  margin-top: 15px;
}
.fa-brands {
  color: rgb(255 255 255 / 80%);
  margin-top: 10px;
  margin-right: 10px;
}
.nav-offer {
  width: 100%;
  top: 44px;
  height: 44px;
  position: relative;
  background-color: #1d1d1f;
  display: flex;
  justify-content: center;
}
.nav-offer p {
  font-size: 14px;
  padding: 12px;
  color: #fff;
  font-weight: 300;
  font-family: Helvetica, Arial, sans-serif;
}
.nav-offer p a {
  text-decoration: none;
  color: #06c;
  letter-spacing: inherit;
  font-size: 14px;
  display: inline-block;
  white-space: nowrap;
}
.nav-offer p a :hover {
  text-decoration: underline;
  color: #06c;
}
.iphone-15 {
  height: 100vh;
  width: 100%;
  background-color: #1d1d1f;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iphone-15 img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.headline {
  height: 200px;
  width: 600px;
  position: absolute;
  font-size: 36px;
  margin-top: -200px;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}
.iphone-15 .headline h2 {
  width: 100%;
  display: flex;
  justify-content: center;
  height: fit-content;
  color: #fff;
}
.iphone-15 .headline h3 {
  width: 100%;
  height: fit-content;
  color: #fff;
  display: flex;
  justify-content: center;
  height: fit-content;
  font-size: 30px;
  line-height: 1.10722;
  font-weight: 400;
  letter-spacing: 0.004em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  margin-top: 6px;
}
.learn-buy {
  width: 36%;
  margin-left: 180px;
  margin-top: 10px;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
    text-decoration: none;
}
.valentens-warpper a{
  text-decoration: none;
}
.valentens-warpper a:hover{
text-decoration: underline;
}
.learn-buy :hover{
  text-decoration: underline ;

}
.learn-buy a {
  text-decoration: none;
  font-size: 20px;
  line-height: 1.10722;
  font-weight: 200;
  color: #06c;
}
.main
  [data-module-template="heroes"]
  [data-unit-id]
  .unit-copy-wrapper
  > *.subhead {
  font-size: 28px;
  line-height: 1.10722;
  font-weight: 400;
  letter-spacing: 0.004em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  margin-top: 6px;
}
video {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.watch-series-9 {
  margin-top: 200px;
  position: absolute;
  width: 679px;
  margin-top: 200px;
  height: 240px;
}
.watch-series-9 img {
  padding: 0;
  display: flex;
  justify-content: center;
  width: min-content;
  height: 70px;
  margin-top: 100px;
  object-fit: cover;
}
.watch {
  position: absolute;
  width: 500px;
  height: 300px;
  margin-bottom: 0;
}

.subhead {
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  font-size: 28px;
  font-weight: 400;
}
.watch-series-9-button button {
  background: #f5f5f7;
  color: #000;
  text-decoration: none;
  border: none;
  width: fit-content;
  margin-left: 30px;
  height: 50px;
  font-size: 17px;
  line-height: 1.17648;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  border-style: solid;
  border-width: 1px;
  min-width: 28px;
  padding-left: 21px;
  padding-right: 21px;
  padding-top: 11px;
  padding-bottom: 11px;
  --sk-button-margin-horizontal: 18px;
  --sk-button-margin-vertical: 18px;
  border-radius: 40px;
  cursor: pointer;
}
.watch-series-9-button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.subhead-div {
  width: 100%;
  display: flex;
  justify-content: center;
  color: azure;
  margin-top: 15px;
}
.watch-series-9-image {
  width: 100%;
  display: flex;
  justify-content: center;
}
.wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
}

.wrapper .one {
  flex: 1;
  margin: 10px;
  object-fit: cover;
  background: url(image/promo_apple_watch_ultra2.jpg);
  background-size: cover;
  background-position: center;
}
.wrapper .two {
  flex: 1;
  background: url(image/promo_valentines_.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}
.promo-logo {
  margin-left: 50px;
  margin-top: 40px;
  width: 500px;
  height: 300px;
}
.promo-logo img {
  margin-left: 160px;
  width: 140px;
  height: fit-content;
}
.subhead-wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}
.valentens-warpper {
  margin-top: 367px;
  width: 100%;
  height: 200px;
}
.headline-valen {
  height: 50px;
  width: 100%;
  font-size: 36px;
  margin-top: -200;
  display: flex;
  justify-content: center;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}
.subhead-valen {
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  font-size: 21px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}
.valentens-warpper a {
  text-decoration: none;
  font-size: 20px;
  line-height: 1.10722;
  font-weight: 200;
  color: #06c;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  margin-left: 280px;
}
.wrapper-airpode-trade {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.wrapper-airpode-trade .one {
  flex: 1;
  margin: 10px;
  object-fit: cover;
  background: url(image/promo_airpods.jpg);
  background-size: cover;
  background-position: center;
}
.wrapper-airpode-trade .two {
  flex: 1;
  background: url(image/promo_iphone.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}
.wrapper-mac-book-ipad {
  display: flex;
  width: 100%;
  height: 100vh;
}
.wrapper-mac-book-ipad .one {
  flex: 1;
  margin: 10px;
  object-fit: cover;
  background: url(image/promo_mbp.jpg);
  background-size: cover;
  background-position: center;
}
.wrapper-mac-book-ipad .two {
  flex: 1;
  background: url(image/promo_ipad.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}
.promo-headline {
  height: 50px;
  width: 100%;
  font-size: 35px;
  margin-top: -200;
  display: flex;
  justify-content: center;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}
.promo-subhead {
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  height: fit-content;
  font-size: 19px;
  font-weight: 400;
  display: flex;
  justify-content: center;
}
.slides {
  width: 100%;
  height: 500px;
  object-fit: contain;
  padding: 10px;
  background-color: #000000;
  display: none;
}
.slide {
  width: 100%;
  height: 100hv;
  overflow: hidden;
  object-fit: cover;
}
.discription {
  width: 900px;
  height: 113px;
  margin-top: 50px;
  margin-left: 200px;
  display: flex;
  justify-content: center;
}
.discription a {
  color: rgba(0, 0, 0, 0.56);
}
.discription2 a {
  color: rgba(0, 0, 0, 0.56);
}
p {
  font-size: 12px;
  line-height: 1.3333733333;
  font-weight: 400;
  letter-spacing: -0.01em;
  color: rgba(0, 0, 0, 0.56);
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons",
    "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.discription2 {
  width: 900px;
  height: 80px;
  margin-top: 10px;
  margin-left: 200px;
  display: flex;
  justify-content: center;
}
.discription3 {
  width: 900px;
  margin-top: 0px;
  margin-left: 200px;
  display: flex;
  justify-content: center;
}
.footer-list {
  width: 100%;
  height: 400px;
}
.footer-list .footerWrapper {
  width: 69%;
  height: 100%;
  margin: auto;
  display: flex;
}
.footerWrapper .partOne {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.footerWrapper .parttwo {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.footerWrapper .partthree {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footerWrapper .partFour {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.footerWrapper .partFive {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.footerWrapper h3 {
  margin-top: 15px;
  font-size: 12px;
  line-height: 1.3333733333;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons",
    "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  margin-inline-end: 20px;
  outline: none;
}
.footerWrapper a {
  margin-top: 10px;
  font-size: 12px;
  line-height: 1.3333733333;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: -0.01em;
  color: rgba(0, 0, 0, 0.56);
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons",
    "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.footerWrapper a:hover{
  text-decoration: underline;
}
.Copyright {
  margin-bottom: 14px;
  margin-left: 200px;
  width: 100%;
}
.Copyright a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.56);
}
.Copyright a:hover{
  text-decoration: underline;
}
.Copyright span {
  margin-left: 200px;
}
.logo{
  border-radius: 50%;
}